.header {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(
      min-content,
      4fr
    );
  width: fit-content;
  font-family: Poppins, Helvetica Neue, Arial, sans-serif;
  font-weight: bold;
}

.logo,
.logo-icon {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  /* color: aliceblue; */
  cursor: pointer;
  /* min-height: 3rem;
  min-width: 3rem; */
  text-decoration: none;
  padding-top: 10px;
  width: 100%;
  transition: opacity 0.5s;
}

.find-jobs {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  color: rgb(70, 70, 70);
  text-shadow: 1px 1px 1px rgb(145, 146, 146);
  cursor: pointer;
  /* min-height: 3rem;
  min-width: 3rem; */
  text-decoration: none;
  transition: color 0.5s;
  margin-left: 3rem;
}

.sign-in {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  color: rgb(70, 70, 70);
  text-shadow: 1px 1px 1px rgb(145, 146, 146);
  text-decoration: none;
  margin-right: 3rem;
  /* min-height: 3rem;
  min-width: 3rem; */
  transition: color 0.5s;
}

.logo-icon:hover {
  opacity: 0.5;
}

.find-jobs:hover,
.sign-in:hover {
  color: rgb(186, 183, 191);
}
