.header {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(
      min-content,
      4fr
    );
  width: fit-content;
  font-size: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  color: aliceblue;
  cursor: pointer;
  /* min-height: 3rem;
  min-width: 3rem; */
  text-decoration: none;
}

.find-jobs {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  color: aliceblue;
  cursor: pointer;
  /* min-height: 3rem;
  min-width: 3rem; */
  text-decoration: none;
}

.sign-in {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  /* min-height: 3rem;
  min-width: 3rem; */
}
