.logo,
.logo-icon {
  display: flex;
  align-content: left;
  cursor: pointer;
  text-decoration: none;
  width: 200px;
  justify-content: left;
  transition: opacity 0.5s;
  gap: 2rem;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.find-jobs {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  color: rgb(70, 70, 70);
  text-shadow: 1px 1px 1px rgb(145, 146, 146);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.5s;
  margin-right: 18rem;
  margin-top: 1.5rem;
}

a {
  margin: 0;
}

.sign-in {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  color: rgb(70, 70, 70);
  text-shadow: 1px 1px 1px rgb(145, 146, 146);
  text-decoration: none;
  margin-right: 3rem;
  transition: color 0.5s;
  margin-top: 1.5rem;
}

.logo-icon:hover {
  opacity: 0.5;
}

.find-jobs:hover,
.sign-in:hover {
  color: rgb(186, 183, 191);
}
