.title-search {
  font-size: 30px;
  font-style: bold;
  margin-bottom: 30px;
}

.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.job-input-container,
.company-input-container,
.location-input-container {
  margin-bottom: 0px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 5rem;
  min-width: 3rem;
}

.company-input-container {
  min-height: 5rem;
  min-width: 10rem;
}

.search-icon,
.company-icon {
  top: 50%;
  right: 10px;
  width: 10%;
}

.location-icon {
  top: 50%;
  right: 10px;
  width: 6%;
  margin-bottom: 3px;
  margin-top: 3px;
}

.dropdown-container {
  margin: 50px;
  margin-top: 0;
}

.posted-ago {
  font-size: 15px;
  color: rgba(77, 76, 76, 0.5);
  margin-left: 60%;
  padding-bottom: 5px;
  border-radius: 10px;
  min-width: 15%;
  min-height: 20%;
  cursor: pointer;
  margin-top: 0;
  font-family: Poppins, Helvetica Neue, Arial, sans-serif;
}

.posted-ago:hover {
  background-color: rgba(250, 248, 249, 0.594);
  cursor: pointer;
}

option {
  font-size: 15px;
  color: rgba(77, 76, 76, 0.5);
  font-family: Poppins, Helvetica Neue, Arial, sans-serif;
  user-select: none;
}

option:hover {
  font-size: 15px;
  color: rgba(77, 76, 76, 0.5);
  font-family: Poppins, Helvetica Neue, Arial, sans-serif;
  user-select: none;
}

.search-button {
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  min-width: 20%;
  min-height: 30%;
  cursor: pointer;
  font-family: Poppins, Helvetica Neue, Arial, sans-serif;
  color: rgb(43, 42, 42);
  text-shadow: 0.5px 0.5px 0.5px rgb(145, 146, 146);
  font-size: 15px;
}

.search-container::before {
  background-image: url('https://media.istockphoto.com/id/1279104620/photo/top-view-of-a-white-desktop-concept-job-search.jpg?s=612x612&w=0&k=20&c=Ow_kvA2wQ4rLlqX_oFHgpjLb1JMKyPQKLOPzbu6w6qw=');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  content: '';
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  filter: blur(3px);
  z-index: -1;
}

.job-input,
.location-input,
.company-input {
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 30%;
  min-height: 30%;
  font-family: Poppins, Helvetica Neue, Arial, sans-serif;
  color: rgb(43, 42, 42);
  text-shadow: 0.5px 0.5px 0.5px rgb(145, 146, 146);
}
