.App {
  display: grid;
  grid-template-rows: minmax(min-content, 0.5fr) minmax(min-content, 4fr) minmax(
      min-content,
      0.5fr
    );
  text-align: center;
}

.App-header {
  grid-row: 1;
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 0.5rem;
  position: fixed;
  width: 100%;
}

.App-main {
  min-height: 80vh;
  grid-row: 2;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-footer {
  grid-row: 3;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.homepage {
  background-color: rgb(249, 241, 234);
  width: 100%;
}
