.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  gap: 3rem;
}

.header {
  background-color: #9ba5b6;
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(20px + 1vmin);
  color: white;
  gap: 0.5rem;
  width: 100%;
  height: 100px;
  top: 0;
  font-family: Poppins, Helvetica Neue, Arial, sans-serif;
  font-weight: bold;
}

.App-main {
  min-height: 80vh;
  gap: 0.5rem;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Poppins, Helvetica Neue, Arial, sans-serif;
  color: rgb(43, 42, 42);
  text-shadow: 0.5px 0.5px 0.5px rgb(145, 146, 146);
  overflow-y: auto;
  margin-top: 0;
}

.App-footer {
  background-color: #9ba5b6;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 1vmin);
  gap: 0.5rem;
  color: white;
  width: 100%;
  height: 90px;
}

.App-link {
  color: #61dafb;
}

.homepage {
  width: 100%;
}
.welcome {
  font-size: 30px;
}

.welcome::before {
  background-image: url('https://media.istockphoto.com/id/1279104620/photo/top-view-of-a-white-desktop-concept-job-search.jpg?s=612x612&w=0&k=20&c=Ow_kvA2wQ4rLlqX_oFHgpjLb1JMKyPQKLOPzbu6w6qw=');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  content: '';
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  filter: blur(3px);
  z-index: -1;
}

.lost-cat {
  width: 30%;
  font-family: Poppins, Helvetica Neue, Arial, sans-serif;
  color: rgb(43, 42, 42);
  text-shadow: 0.5px 0.5px 0.5px rgb(145, 146, 146);
}

.sign-in-page {
  margin-top: 15rem;
  margin-bottom: 25rem;
}

.sign-in-page::before {
  background-image: url('https://media.istockphoto.com/id/164452038/vector/young-red-headed-boy-makes-silly-face-using-tongue-and-hands.jpg?s=612x612&w=0&k=20&c=1suX6Kd-2Gq9sQlXEL16zCDxVn0sutKPHjKWkn89KWw=');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  margin-left: 700px;
  width: 400px;
  height: 500px;
  position: fixed;
  content: '';
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: -1;
}

.title-search {
  font-size: 30px;
  margin: 30px;
  padding: 30px;
}

.project-warning {
  font-size: 20px;
  line-height: 1.5;
  padding: 25%;
  padding-top: 5%;
  margin: 30px;
}
