.App {
  display: grid;
  grid-template-rows: minmax(min-content, 0.5fr) minmax(min-content, 4fr) minmax(
      min-content,
      0.5fr
    );
  text-align: center;
}

.App-header {
  grid-row: 1;
  background-color: #7f8a9f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 1vmin);
  color: white;
  gap: 0.5rem;
  position: fixed;
  width: 100%;
  height: 10%;
}

.App-main {
  min-height: 80vh;
  grid-row: 2;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Poppins, Helvetica Neue, Arial, sans-serif;
  color: rgb(43, 42, 42);
  text-shadow: 0.5px 0.5px 0.5px rgb(145, 146, 146);
}

.App-footer {
  grid-row: 3;
  background-color: #7f8a9f;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 1vmin);
  gap: 0.5rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

.homepage {
  /* background-color: rgb(249, 241, 234); */
  width: 100%;
}
.welcome {
  font-size: 30px;
}

.welcome::before {
  background-image: url('https://media.istockphoto.com/id/1279104620/photo/top-view-of-a-white-desktop-concept-job-search.jpg?s=612x612&w=0&k=20&c=Ow_kvA2wQ4rLlqX_oFHgpjLb1JMKyPQKLOPzbu6w6qw=');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  content: '';
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  filter: blur(3px);
  z-index: -1;
}

.lost-cat {
  width: 130%;
  font-family: Poppins, Helvetica Neue, Arial, sans-serif;
  color: rgb(43, 42, 42);
  text-shadow: 0.5px 0.5px 0.5px rgb(145, 146, 146);
}

.sign-in-page::before {
  background-image: url('https://media.istockphoto.com/id/164452038/vector/young-red-headed-boy-makes-silly-face-using-tongue-and-hands.jpg?s=612x612&w=0&k=20&c=1suX6Kd-2Gq9sQlXEL16zCDxVn0sutKPHjKWkn89KWw=');
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 90%;
  height: 90%; */
  margin-top: 100px;
  margin-left: 700px;
  width: 400px;
  height: 500px;
  position: fixed;
  content: '';
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  /* filter: blur(3px); */
  z-index: -1;
}

.search-page .title-search {
  font-size: 30px;
  margin: 30px;
  padding: 30px;
}

.search-container {
  margin: 50px;
}

.project-warning {
  font-size: 20px;
  line-height: 1.5;
  padding: 25%;
  padding-top: 5%;
  margin: 30px;
}
